a {
    color: inherit
}

body, html {
    background-image: url("Photos/Money-Background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
}

header {
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;

}
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: white;
  }



.headerTitle {
    font-family: Bebas;
    font-size: 40px;

}

.navHome,.navAbout,.navPortfolio,.navContact {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.headerLinks {
    font-family: Bebas;
    float: right;
    text-decoration-line: none;
}

.mainheadText {
    text-align: center;
    font-family: Bebas;
    font-size: 40px;
    margin: 0px;
}

.secondLine {
    margin-bottom: 0px;
}

.secondheadText {
    display: inline-block;
    font-size: 15px;
    margin-left: 20%;
    margin-right: 20px;
}

.goButton {
    display: inline-block;
    font-family: Bebas;
    float: right;
    margin-top: 28px;
    margin-right: 25%
}

.quoteText {
    font-size: 20px;
    text-align: center;


}

.instagramLink,.twitterLink,.linkedinLink {
    display: inline-block;

}

.socialLinks {
    display: block;
    width: 50px;
    margin: 10px;

}

footer {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    left: 0px;
}

h2, h4, p {
    font-family: Programme;
    text-align: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
}

h1 {
    font-family: Programme;
    font-style: italic;
    text-align: center;
}

.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    border-style: solid;
    border-color: rgb(255, 228, 93);
    border-width: 15px;
    
}

.figure-caption {
    color: rgb(0, 0, 0);
}

p {
    width: 50%;
    font-size: 20px;
    font-family: Futura;
    margin-left: auto;
    margin-right: auto;
    color: black;
}

img, video, iframe {
    width: 50%;
    margin: auto;
    display: block;
    box-shadow: 0 10px 40px -10px
}

iframe {
    border: 0;
}

video {
    width: 50%;
}

.aboutPhotos {
    width: 50%;
}

.information-container {
    display: block;
    background-color: white;
    /* background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);*/
    padding: 1%;
}