body {
    background-image: url("Photos/Money-Background.jpg");
    background-position: center top;
    background-size: 2000px;
}

header {
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;

}
footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    color: white;
  }

.socialLinks {
    width: 50px;

}

.headerTitle {
    font-family: Bebas;
    font-size: 40px;

}

.navHome,.navAbout,.navPortfolio {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.headerLinks {
    font-family: Bebas;
    float: right;
}

.mainheadText {
    text-align: center;
}

.quoteText {
    font-size: 20px;
    text-align: center;
    

}

